.c-border-a {
  border: 1px solid #343536 !important;
}
.c-border-b {
  border-bottom: 1px solid #343536 !important;
}
.c-grey-text {
  color: rgba(255, 255, 255, 0.7);
}
.c-opacity-50 {
  background-color: rgba(0,0,0,.5)!important;
  /*opacity: 0.5;*/
}
