.c-border-a {
  border: 1px solid #343536 !important;
}
.c-border-b {
  border-bottom: 1px solid #343536 !important;
}
.c-grey-text {
  color: rgba(255, 255, 255, 0.7);
}
.c-opacity-50 {
  background-color: rgba(0,0,0,.5)!important;
  /*opacity: 0.5;*/
}

.c-border-a-trans {
  border: 3px solid transparent !important;
}

.c-border-a-green {
  border: 3px solid green !important;
  background-color: rgba(0,225,0, .2) !important;
}

.c-border-a-blue {
  border: 1px solid blue !important;
  background-color: rgba(0,0,255, .4) !important;
}

.c-border-a-orange {
  border: 1px solid orange !important;
  background-color: rgba(255,125,0, .4) !important;
}

.c-border-a-grey {
  border: 1px solid darkslategray !important;
}

.cust-display {
  position: fixed;
}

.c-overflow {
  overflow-y: auto !important;
}
